

header {
  font-family: "Kanit",sans-serif;
}

body {
  background-color: blanchedalmond;
}

.topfish {
  margin-bottom: 300px;
  height: 75px;
  width: 300px;
  /* opacity: 0.5; */

}

.topfish2 {
  margin-bottom: 300px;
  height: 75px;
  width: 300px;
  float: right;
}

h1 {
text-align: center;
background-color:chocolate;
color: black;
font-size: 40px;
position: relative;
}

.bio {
text-align: center;
color: darkgreen;
font-size: 20px;


}

 .locs{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color:darkgreen;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-family: "Kanit",sans-serif;

}


h2, h3 {
  text-align: center;
  background-color:chocolate;
  color: black;
  font-size: 40px;
  position: relative;
  font-family: 'Gajraj One', cursive;
font-family: 'Titillium Web', sans-serif;
 
  
   }
   
   .family {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  

   }

   .cutter {
   position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
   }
 

   h4 {
    text-align: center;
    background-color:chocolate;
    color: black;
    font-size: 40px;
    position: relative;
    margin-top: 20px;

   }

   .shirt {
    display: flex;
   float: right;
   width: 10%;
   }

  .hoursOp {
    font-size: 25px;
    line-height: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:darkgreen;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;

  }

  .cookie {
    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    overflow: hidden;
    
    
  }

  .info {
    text-align: center;
    background-color:chocolate;
    color: white;
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    font-family: 'Gajraj One', cursive;
font-family: 'Titillium Web', sans-serif;

  }

  footer {
    text-align: center;
    color: black;
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    font-family: 'Gajraj One', cursive;
font-family: 'Titillium Web', sans-serif;

  }